html{
    display:table;
    margin:auto;
}

html, body{
    height: 100%;
}

body {
    background: url("../img/FFXIV_PUB_FANFESTIVAL_2018_LASVEGAS_19.png") no-repeat center center fixed;
    background-color: black;
    background-size: fill;
    font-family: Arial;
    font-size: large;
    color:white;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    text-shadow:
    -1px -1px 0 #000,
     0   -1px 0 #000,
     1px -1px 0 #000,
     1px  0   0 #000,
     1px  1px 0 #000,
     0    1px 0 #000,
    -1px  1px 0 #000,
    -1px  0   0 #000;
}

p#clock {
    font-size: 120px;
}

p.legal {
    text-align: center; 
    font-size: smaller;
}